env
.env
document_portal.egg-info
venv/
# Ignore all Python byte-code caches anywhere in the repo
__pycache__/
logs/
*.pyc
# ignore every folder whose name starts with “session” inside data/…
data/**/session*/
faiss_index/


